{% extends 'index.html' %}
{% load static %}
{% block content %}
<section>
    <div class="ctn-soon">
        <div class="wrapper-soon">
            <span>Estamos trabajando para que puedas descargar contenido de todas tus plataformas favoritas
            </span>
            <span>Todo tu contenido pronto a tu alcance en un click</span>
            <img src="{% static 'img/working.png' %}"
                alt="Astradown - Todo tu contenido pronto a tu alcance en un click">
        </div>
    </div>
</section>
{% endblock %}